body {
    background: url(https://i.imgur.com/4KdXkHH.jpg) repeat;
    height: 100%;
    width: 100%;
}

a:visited {
    color: gray;
}

#portBody {
    background-color: black;
    border: 5px solid white;
    opacity: 0.6;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#portNav {
    background-color: black;
    border: 5px solid white;
    opacity: 0.6;
    width: 100%;
}

#portNav ul li a {
    color: white;
}

#portText h2 {
    visibility: hidden;
}

#portText .portSection h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#portFooter {
    background-color: transparent;
    border: none;
    text-align: center;
}

#portFooter p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3.section-title {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
}