body {
    background: url(https://i.imgur.com/T7PiQCU.jpg) repeat;
    height: 100%;
    width: 100%;
}

#portBody {
    background-color: black;
    border: 5px solid white;
    opacity: 0.6;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#portNav {
    background-color: black;
    border: 5px solid white;
    opacity: 0.6;
    width: 100%;
}

#portNav ul li a {
    color: white;
}

#portText h2 {
    visibility: hidden;
}

#portText .portSection h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
