body {
    background: url(https://i.imgur.com/T7PiQCU.jpg) repeat;
    height: 100%;
    width: 100%;
}

div.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}

div.transbox {
    width: 500px;
    height: 500px;
    background-color: black;
    border: 5px solid white;
    opacity: 0.8;
    text-align: center;
}

div.transbox p {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-picture {
    content: url(https://i.imgur.com/5bhDRvM.jpg);
    margin: 5%;
    width: 50%;
    height: 50%;
    text-align: center;
    border-radius: 50%;
    border: 3px solid white;
    opacity: 2;
}

.profile-name {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: -15px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px rgba(0, 255, 0, .75);
    margin: 0 auto;
}

.profile-name {
    animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite;
}

@keyframes animated-text {
    from {
        width: 24px;
    }
    to {
        width: 400px;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: gray
    }
    to {
        border-right-color: transparent;
    }
}

.profile-summary {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

ul.icons {
    padding-top: 15px;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding-left: 10px;
    opacity: 0;
    animation: sequential 1s forwards;
}

ul.icons li:nth-child(1) {
    animation-delay: 1s;
    display: inline-block;
}

ul.icons li:nth-child(2) {
    animation-delay: 2s;
}

ul.icons li:nth-child(3) {
    animation-delay: 3s;
}

ul.icons li:nth-child(4) {
    animation-delay: 4s;
}

@keyframes sequential {
    100% {
        opacity: 1;
    }
}

ul.icons li i {
    text-decoration: none;
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    color: lightgray;
    font-size: 45px;
}

ul.icons li i:hover {
    color: white;
}

ul.icons li i {}

#portBody {
    background-color: transparent;
    border: none;
}

#portNav {
    background-color: black;
    border: 5px solid white;
    opacity: 0.6;
    width: 100%;
}

#portNav ul li a {
    color: white;
}

#portText h2 {
    visibility: hidden;
}

#portFooter {
    background-color: transparent;
    border: none;
    text-align: center;
}

#portFooter p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}