body {
    background: url(https://i.imgur.com/T7PiQCU.jpg) repeat;
    height: 100%;
    width: 100%;
}

div.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}

div.transbox {
    width: 500px;
    height: 500px;
    background-color: black;
    border: 5px solid white;
    opacity: 0.8;
    text-align: center;
}

div.transbox p {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-picture {
    content: url(https://i.imgur.com/5bhDRvM.jpg);
    margin: 5%;
    width: 50%;
    height: 50%;
    text-align: center;
    border-radius: 50%;
    border: 3px solid white;
    opacity: 2;
}

.profile-name {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-top: -15px;
    color: white;
}

.profile-name {
    animation: animated-text 2s steps(30, end) 1s 1 normal both;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 472px;
    }
}

.profile-summary {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}

ul.icons {
    padding-top: 15px;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding-left: 10px;
}

ul.icons li i {
    text-decoration: none;
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
    color: lightgray;
    font-size: 45px;
}

ul.icons li i:hover {
    color: white;
}

#portBody {
    background-color: transparent;
    border: none;
}

#portNav {
    background-color: black;
    border: 5px solid white;
    opacity: 0.6;
    width: 100%;
}

#portNav ul li a {
    color: white;
}

#portText h2 {
    visibility: hidden;
}

#portFooter {
    background-color: transparent;
    border: none;
    text-align: center;
}

#portFooter p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}